@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import "tailwindcss";

@source inline("{hover:,}bg-{neutral,green,yellow,red,sky}-500");


.swiper {
    width: 600px;
    height: 300px;
  }

.font-title {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

:root {
    --pinky-color: #FF8383;
    --yellow-color: #FFF574;
    --green-color: #A1D6CB;
    --purple-color: #A19AD3;

}

@layer utilities {
    .no-image {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }
}