---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import "../../styles/global.css";	
---
<Layout>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions</title>
</head>
<Navbar />
<body class="bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 min-h-screen p-4 md:p-8">
    
</body>
</html>

</Layout>